<div class="ionic-box">
	<h2>Formularz kontaktowy</h2>
	<form action="page/contact" method="post">
	<div class="ionic-form">
		<div class="ionic-form-legend">Wiadomość</div>
		<div class="ionic-form-elem">
			<label for="subject">Temat:</label>
			<input type="text" name="subject" id="subject" maxlength="127" value="" />
		</div>
		<div class="ionic-form-elem">
			<label for="email">Adres e-mail:</label>
			<input type="text" name="email" id="email" maxlength="70" value="" />
		</div>
		<div class="ionic-form-elem">
			<label for="message">Wiadomość:</label>
			<textarea name="message" id="message" rows="10"></textarea>
		</div>
		<div class="ionic-form-elem">
			{{ form_token() }}
			<input type="submit" name="submit" class="submit" value="Wyślij" />
		</div>
	</div>
	</form>
</div>