<div class="ionic-box">
	<h2>Mapa strony</h2>
	{% for section, pair in links %}
	<h3>{{ section }}</h3>
	<ul class="ionic-list">
		{% for name, link in pair %}
		<li><a href="{{ base_url }}/{{ link }}">{{ name }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}
</div>