<div class="ionic-box">
	<h2>Przywracanie hasła</h2>
	<form action="login/password" method="post">
	<div class="ionic-form">
		<div class="ionic-form-legend">Szczegóły konta</div>
		<div class="ionic-form-elem">
			<label for="username">Login:<br /><small>Login używany podczas logowania.</small></label>
			<input type="text" name="username" id="username" />
		</div>
		<div class="ionic-form-elem">
			<label for="email">LUB adres e-mail:</label>
			<input type="text" name="email" id="email" />
		</div>
		<div class="ionic-form-elem">
			{{ recaptcha }}
		</div>
		<div class="ionic-form-elem">
			{{ form_token() }}
			<input type="submit" name="submit" class="submit" value="Wyślij" />
		</div>
	</div>
    </form>
</div>