<div class="ionic-box">
	<h2>Zmiana zapomnianego hasła</h2>
	<form action="{{ action }}" method="post">
	<div class="ionic-form">
		<div class="ionic-form-legend">Nowe hasło</div>
		<div class="ionic-form-elem">
			<label for="password">Nowe hasło:<br /><small>Podaj nowe hasło, conajmniej 6 znaków</small></label>
			<input type="password" name="password" id="password" />
		</div>
		<div class="ionic-form-elem">
			<label for="password_confirm">Potwierdź hasło:<br /><small>Potwierdź hasło</small></label>
			<input type="password" name="password_confirm" id="password_confirm" />
		</div>
		<div class="ionic-form-elem">
			{{ form_token() }}
			<input type="submit" name="submit" class="submit" value="Zmień" />
		</div>
	</div>
</div>