<h2>Edycja widżetu</h2>
<div class="section">
	<div class="theader">
		<div class="theader2">
			Informacje
		</div>
	</div>
	<div class="section-content">
		<div class="elem">
			<label>Tytuł</label>
			<div class="right">{{ title }}</div>
		</div>
		<div class="elem">
			<label>Rodzaj</label>
			<div class="right">{{ type }}</div>
		</div>
	</div>
</div>
{{ widget_config }}
<script type="text/javascript">
$(function(){
	$('input[type="submit"]').button();
});
</script>