<div class="section">
	<div class="theader">
		<div class="theader2">
			Ustawienia widżetu
		</div>
	</div>
	<div class="section-content">
		<form action="{{ action }}" method="post">
			<div class="elem">
				<label for="template">Plik wyglądu:<br /><small>Plik znajdujący się w katalogu private/application/views. Zamiast slashów użyj kropek, nie dodawaj rozszerzenia</small></label>
				<div class="right">
					<input type="text" name="template" id="template" value="{{ options.template }}" />
				</div>
			</div>
			<div class="elem">
				<label for="auto_refresh">Auto odświeżanie:<br /><small>W sekundach. 0 aby wyłączyć</small></label>
				<div class="right">
					<input type="text" name="auto_refresh" id="auto_refresh" value="{{ options.auto_refresh }}" />
				</div>
			</div>
			<div class="toolbar ui-widget-header ui-corner-all">
				{{ form_token() }}
				<input type="submit" name="submit" style="width: auto" value="Zapisz" />
			</div>
		</form>
	</div>
</div>