<h2>IP użytkownika</h2>
<div class="section">
	<div class="theader">
		<div class="theader2">Lista IP</div>
	</div>
	<table class="itable">
		<tr>
			<th>IP</th>
			<th>Skąd</th>
		</tr>
		{% for i in list %}
		<tr>
			<td>{{ i.ip }}</td>
			<td>{{ i.where }}</td>
		</tr>
		{% endfor %}
	</table>
</div>