<h2>Potwierdzenie</h2>
<div class="section">
	<div class="theader">
		<div class="theader2">
			Potwierdzenie
		</div>
	</div>
	<form action="{{ current }}" method="post">
	<div class="section-content">
		Czy jesteś pewien ,że chcesz wykonać tą akcję?
		<p>
		{{ form_token() }}
		<input type="submit" value="Tak" class="yes" name="yes" style="width: auto" />
		<input type="submit" value="Anuluj" class="no" name="no" style="width: auto" />
		</p>
	</div>
	</form>
</div>
<script type="text/javascript">
$(function() {
	$('.yes').button();
	$('.no').button();
});
</script>