{% for item in menu %}
<li id="menu-{{ item.data.id }}"{% if item.has_children %} class="jstree-closed"{% endif %}>
	<a href="{{ item.data.link }}">{{ item.data.title }}</a> {% if item.data.link|length > 0 %}<small>({{ item.data.link }})</small>{% endif %}
	{% if item.has_children %}<ul></ul>{% endif %}
</li>
{% endfor %}