<fieldset>
	{% for option in options %}
	<p>
	<strong>{{ option.title }}:</strong> {% if option.votes == 0 or item.votes == 0 %}0%{% else %}{{ option.votes/item.votes*100 }}%{% endif %} ({{ option.votes }})
	{% endfor %}
	</p>
</fieldset>